.jumbotron {
    background-color: white;
    padding: 10px;
    margin-top: 40px;
}

body {
    background-color: lightgray;
}

h3 {
    color: rgb(73,170,165);
}

.proposal {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gantt {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.midterm {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.final {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#propdoc {
    width: 100%;
    min-height: 400px;
}

#ganttdoc {
    width: 100%;
    min-height: 400px;
}

#midtermdoc {
    width: 100%;
    min-height: 400px;
}

#finaldoc {
    width: 100%;
    min-height: 400px;
}

.navbar {
    background-color: white;
    padding: 10px;
}

.navbar-brand {
    color: white;
    background-color: rgb(73,170,165);
    padding: 10px;
}

@media (max-width : 768px) {
    .navbar {
    background-color: rgb(73,170,165);
  }
}